{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/book.css')}}">
{% endblock %}

{% block content %}
  <h1>図書登録</h1>
  
  <form action="{{url_for('book_exe')}}" method="post">
    ISBN:<input type="text" name="isbn"><br>
    タイトル：<input type="text" name="title"><br>
    著者：<input type="text" name="author"><br>
    出版社：<input type="text" name="publisher"><br>
    ページ数：<input type="number" name="pages"><br>
    <button type="submit">登録</button>
  </form>
{% endblock %}
