{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/top.css')}}">
{% endblock %}

{% block content %}
<h3>図書検索</h3>
    <form action="{{ url_for('search_books') }}" method="post" class="mb-3">
            <input type="text" name="search_query" placeholder="本のタイトルを入力">
                <button type="submit">検索</button>

<table class="table table-striped">
  <thead>
      <tr>
          <th>ISBN</th>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>ページ数</th>
      </tr>
  </thead>
  <tbody>
      {% for book in books %}
      <tr>
          <td>{{ book[0] }}</td>
          <td><a href="{{url_for('book_detail', isbn=book[0])}}">{{ book[1] }}</td>
          <td>{{ book[2] }}</td>
          <td>{{ book[3] }}</td>
          <td>{{ book[4] }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
